* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1C2230;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
}

.mic {
    height: 50px;
    width: 50px;
}

.logo {
    margin-top: 20px;
    margin-left: 70px;
    display: flex;
}

.info {
    margin-right: 70px;
    line-height: 80px;
}

.info>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 10px;
}